*{
    margin: 0px;
    padding: 0px;
  }
  #navbar{
   width: 100%;
    display: flex;
  padding: 6px;
    background-color: rgb(58, 56, 56);
    border-radius: 10px;
    position: fixed;
    top:0px
  }
  #logo{

  }
  .logo img{
width: 40px;
border-radius: 10px;
  }
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
  
    
  }
  ul li{
    list-style: none;
    font-size: 18px;
   
   
  
    
  }
  
  li a{
    text-decoration: none;
    margin: auto 20px;
    color: aliceblue;
    border-radius: 3px;
   
    
  }
 #navbar input{
    margin-left: 800px ;
    margin-top: 6px;
    font-size: 16px;
    border-radius: 2px;
    padding: 2px;
 }
 li a:hover{
    color: rgb(104, 149, 149);
    border-radius: 2px;
    
 }
 /* home section */
 .home{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 40px;

    padding: 10px 30px;
     box-shadow: 20px 20px 20px;
 }
 .cont{
    background: url('https://images.pexels.com/photos/1192671/pexels-photo-1192671.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
    height: 550px;
 }
 .h11{
  font-size: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-shadow: 4px 4px 4px rgb(218, 201, 201);
box-shadow: 3px 3px 3px rgb(249, 204, 204);
margin: 5px;
padding: 5px;
border-radius: 5px;
transition: all .5s ease-in-out;
color:blueviolet;
 }
 .h11:hover{
    transform: scale(1.1);
 }
 .secp{
    margin: 10px 20px;
    padding: 20px;
    font-size: 20px;
    font-style: italic;
 }
 .btn{
    margin: 5px;
    padding: 5px;
    transition: all .5s ease-in-out;
    border-radius: 4px;
 }
 .btn:hover{
    transform: scale(1.1);
   
 }
 

 .serh11{
  font-size: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-shadow: 4px 4px 4px rgb(218, 201, 201);
box-shadow: 3px 3px 3px rgb(249, 204, 204);
margin: 5px;
padding: 5px;
border-radius: 5px;
transition: all .5s ease-in-out;
color:rgb(41, 38, 45);
text-align: center;
width: 50%;
margin: auto;
 }
 .serh11:hover{
    transform: scale(1.1);
 }
 /* serives */
.sercont{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}
.box{
    margin: 80px 20px;
    padding: 10px;
    box-shadow: 10px 10px  10px gray ;
    height:400px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-shadow: 4px 4px 4px rgb(218, 201, 201);

}
img{
    opacity: .6;
    transition: all .5s ease-in-out;
}
img:hover{
  opacity: 1;
  transform: scale(1.1);
}
.newcont{
    display: flex;
    flex-direction: row;
}
.box h2{
font-size: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-shadow: 4px 4px 4px rgb(218, 201, 201);
box-shadow: 3px 3px 3px rgb(249, 204, 204);
margin: 5px;
padding: 5px;
border-radius: 5px;
transition: all .5s ease-in-out;
color:rgb(41, 38, 45);
text-align: center;
width: 50%;
margin: auto;
margin-bottom: 30px;
}
.box h2:hover{
    transform: scale(1.1);
 }
 .forms{
       font-style: italic;
       text-shadow: 2px 2px 2px rgb(152, 149, 149);
     font-size: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
      
       
   }
   